.lottery-section{
    @extend .position-relative;
    z-index: 1;

    @include media-breakpoint-up(lg){
        &::before, .lottery-banner{
            position: absolute;
            height: 100%;        
            top: 0;
            left: 0;
            bottom: 0;
        }
        &::before{
            content: "";
            width: 50%;
            background-color: $dark;
            z-index: -1;
        }

        .lottery-banner{
            width: 50% !important;
            object-fit: cover;
            object-position: right bottom;
        }
    }
    .lottery-banner{
        width: 100%;
    }
}