.fLink {
  padding: 0;

  li {
    list-style: none;

    a {
      color: #ffffff;
      font-size: 20px;
    }
  }
}

.fCol {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .jdjdj {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .fLink {
      width: 250px;
    }
  }
  .f_social_link {
    .social_link {
      margin-top: 20px;
      display: flex;
      gap: 20px;
      font-size: 20px;

      a {
        color: #ffffff;

        &:hover {
          color: #ffffffe1;
        }
      }
    }
    a{
      color: #ffffff;
      font-size: 20px;
    }
  }
  @media screen and (max-width: 850px) {
    gap: 20px;
    .jdjdj {
        gap: 20px;
    }
  }
}

.footer-copyright{
  width: 300px;
  font-size: 18px;
}